:root{
    --primary-color: #002266;
}
:root{
    --white-color: #ffffff;
}
:root{
    --gap: 3rem
}
:root{
    --light-gray-color: #eeeeee;
}
:root{
    --secondery-color: #002266;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior:smooth
}

body{
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

h1{
    font-size: 4rem;
    text-transform: uppercase;
}
h2{
    font-size: 5rem;
    font-size: 4.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 1.3;
}
h3{
    font-size: 4rem;
    
}
h4{
    font-size: 3.5rem;
    
}
h5{
    font-size: 3.5rem;
    
}
h6{
    font-size: 3.5rem;

}

a{
    text-decoration: none;
}

.main-bg{
    background-color: #000022;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23026' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23002163' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23002060' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23001f5c' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%23001e59' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%23001d56' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%23001c53' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%23001b4f' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23001a4c' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%23001949' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23001846' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%23001743' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%2300163f' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%2300153c' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%23001439' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23001336' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%23013' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}


.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
    
}

.section{
    min-height: 100vh;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
    z-index: 1;
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}
.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a{
    color: inherit;
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondery-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}
.menu-espaço{
    height: 65px;
}

.intro-content{
    position: relative;
    /*top: -8rem;*/
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    gap: var(--gap);
   min-height: 100vh;
}

.intro-text-content, .intro-img {
display: flex;
flex-flow: column wrap;
justify-content: center;
}
.intro-text-content h2{
font-style: italic;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}
.top-content{
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

p{
    margin-bottom: 8rem;
}
.grind-one-content{
    height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}
.grid-main-heading{
    margin-bottom: 1rem;
    font-size: 6rem;
    font-style:italic;
}

.grid-description{
    padding-bottom: 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-style: italic;
}
.grid-main-heading {
    margin-bottom: 1rem;
  }
  .grid-description {
    padding-bottom: 5rem;
  }

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
    
}
.top1{
    font-style: italic;
    
}
.top2{
    font-size: 3rem;
    font-style: italic;
}
.top3{
    font-size: 3rem;
    font-style: italic;
}

.galeria-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    
}
.galeria-img img {
    transition: all 300ms ease-in-out;
}
.galeria-img img:hover {
    transform:translate(-3%, 3%) scale(1.2) rotate(5deg); 
}
.contato-form{
    grid-column: span 2;
}
.contato-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.form-group{
    flex: 1 1 320px;
}
.form-group label{
    display: block;
    margin-bottom: 1rem;
}
.form-group input,
.form-group textarea {
border: none;
background: var(--white-color);
padding: 1.5rem 2rem;
width: 100%;
font-size: 3rem;
outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
box-shadow: 0 0 10px 2px red;
}

body .full-width{
width: 100%;
flex: 1 1 100%;
}
.form-group button{
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background: var(--white-color);
    color: var(--primary-color);
}
.form-group::placeholder{
    color: var(--secondery-color);
}
.legend{
    font-size: 5rem;
}
.footer{
    text-align: center;

}
.footer a {
    color: var(--primary-color);
    }


    .Menu-Fechado{
      display: none;
    }

    .back-to-top {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background: var(--white-color);
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--primary-color);
        transform: rotate(-90deg);
        border: 0.1rem solid var(--primary-color);
      }
      
    @media (max-width: 800px) {
        .intro-content, .grid{
            grid-template-columns: 1fr;
        }
    .galeria-img{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }
    .galeria-img{
        width: 100%;
    }
    .grind-one-content{
        display: block;
    }
.menu{
    bottom: 0;
    text-align: center;
}
.menu-content, .menu-content ul{
flex-direction:column;
justify-content:center;
}

.menu-content{
    height: 100vh;
}
.menu{
    display: none;
}

.Menu-Fechado-label::after{
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rex;
    cursor: pointer;
}

.Menu-Fechado:checked~.menu{
    display: block;
}
.Menu-Fechado:checked~.Menu-Fechado-label::after{
    content: "×";
}
.menu-espaço{
    display: none;
}
}